@model SmartManage.Models.Bill

<form method="post" asp-action="AddBill">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black pl-3">Add Bill</h2>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Discription"></label>
            <input class="form-control" asp-for="Discription" />
            <span asp-validation-for="Discription" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Amount"></label>
                <input class="form-control" asp-for="Amount" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DueDate"></label>
                <input type="date" class="form-control" asp-for="DueDate" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-75" value="Add Bill" />
                </div>
                <div class="col">
                    <a class="btn btn-danger w-75" asp-action="Index">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
