@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome to SmartManage!</h1>
    <p>This application is to manage customer information and bill payments.</p>
    <a class="btn btn-primary btn-lg text-white" asp-controller="Customer" asp-action="Index">Get Started!</a>
</div>
