@model SmartManage.Models.Customer

<form method="post" asp-action="DeleteCustomerInfoPost">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black pl-3">Delete Customer Information</h2>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName" disabled>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName" disabled>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input class="form-control" asp-for="PhoneNumber" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" disabled/>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-danger w-75" value="Comfirm" />
                </div>
                <div class="col">
                    <a class="btn btn-success w-75" asp-action="Index">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>

